<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.homework.vitalib.dao.QuestionDaoCsv">
        <constructor-arg name="filePath" value="questions.csv"/>
        <constructor-arg name="readerProvider" ref="fileReaderProvider"/>
        <constructor-arg name="dataParser" ref="csvParser"/>
    </bean>
    <bean id="questionService" class="ru.otus.homework.vitalib.service.QuestionServiceImpl">
        <constructor-arg ref="questionDao"/>
    </bean>
    <bean id="fileReaderProvider" class="ru.otus.homework.vitalib.utils.FileReaderProvider"/>
    <bean id="csvParser" class="ru.otus.homework.vitalib.utils.CsvParser"/>
</beans>
